html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #202123; 
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("images/482086951_1168191608435469_5323497860288220619_n.jpg") center/cover no-repeat;
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: -1;
}




#body-fotogalerie::after {
  background-color: #202123;
  z-index: -1;
}

.modal-background::after {
  background-color:#7c7b7bb5;
  z-index: 0;
}

header {
  background-color: #202123;
  text-align: center; 
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(44, 43, 43, 0.9);
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(44, 43, 43, 0.9);
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

section img {
  max-width:  70%;
}

section h2 {
  color: #007ACC;
}

#tymy h1 {
  background-color: #202123;
}

.tym {
  margin: 20px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 10px;
}

strong {
  color: #c2bb96; 
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70vw;
}

#aktuality a {
 padding-top: 10px;
}

#aktuality li {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  border-top: solid #525359;
  width: 100%;
  max-width: 700px;
}

#aktuality li span {
  margin-top: 5px;
  text-align: right;
}


.header-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

header img {
  display: block;
  text-align: center;
  width: 80px;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
  font-size: 2rem;
  padding: 10px 0 15px 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

header h1 {
  padding: 10px 0 20px 0;
}

.hidden {
  display: none !important;
}

nav {
  display: flex;
  background-color: #2A2B2D;
  justify-content: center;
  min-width: 60vw;
  margin-bottom: 25px;
}

nav a {
  display: block;
  padding: 30px 0 30px;
  width: 100%;
}

nav a:hover {
  background-color: #007ACC;
}

i:hover {
  background-color: #007ACC;
}

#bt-nav {
  display: block;
  border: 0;
  right: 20px;
  bottom: 0;
  font-family: 'Times New Roman', Times, serif;
  text-decoration-style: solid;
  background-color: #202123;
  position: absolute;
  padding: 5px;
  cursor: pointer;
}

#menu-icon {
  font-size: 30px;
  text-decoration: solid;
  color: #FFFFFF;
  width: 30px;
  background-color: #202123;
}

i.fa {
  display: block;
  min-width: 30.4px;
}

#close-icon {
  font-size: 30px;
  width: 30px;
  text-decoration: solid;
  color: #FFFFFF;
  background-color: #202123;
}

#current-page  {
  background-color: #525359;
}

#current-page:hover {
  background-color: #007ACC;
}

footer {
  width: 100%;
  background-color: #202123;
  text-align: center;
  
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.footer-content span {
  margin: 5px;
  flex: 1;
  min-width: 40vw;
}

.footer-content a {
  display: block;
  margin-bottom: 10px;
}

.footer-content b {
  color: #0099ff;
}

.underlined-footer-content {
  border-bottom: 3px solid #3c3c3cfe;
  height: 70px;
  align-content: center;
}

#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.bt-fotogalerie {
  background-color: #2A2B2D;
  border: none;
  padding: 0;
  width: 30%;
}


.img-fotogalerie {
  width: 100%;
  max-width: 300px;
  height: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.img-fotogalerie:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#modal {
  position: fixed;
  height:100%;
  width: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: #4d4d4dbd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: fixed;
  max-width: 100vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  text-align: center
}

#close-modal {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 40px;
  padding: 0 7px;
  cursor: pointer;
  z-index: 1000;
  background-color: #7171715c;
}



@media (min-width: 460px) {
  .footer-content {
    flex-direction: row
  }
}

@media (min-width: 768px) {

  .header-container {
    flex-direction: row;
    padding: 0;
  }

  .header-container img {
    width: 140px;
    position: absolute;
    left: 7vw;
    top: 8px;
  }

  header h1 {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
  }

  nav {
    justify-content: flex-end;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    padding-right: 7vw;
  }

  nav a {
    padding: 20px 0 20px;
    width: 100%;
    min-width: 14vw;
  }

  p {
    font-size: 1rem;
  }

  article {
    margin: 20px auto;
  }

  section {
    margin: 20px;
    padding: 20px;
    flex: 1;
  }


  #aktuality {
    text-align: left;
    max-width: 400px;
    margin-right: 0;
  }

  #nadchazejici-zapasy {
    flex: 2;
  }
  #aktuality ul {
    width: auto;
  } 

  #main-obsah {
    display: flex;
    justify-content: space-between;
  }

  .seznam-tymu {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .tym {
    padding: 15px;
    margin: 0 10px;
    box-shadow: none;
    border-radius: 0;
  }

  #nadchazejici-zapasy {
    padding: 0;
    margin: 20px;
  }

  #gallery {
    max-width: 90vw;
    margin: 20px auto;
    gap: 15px;

  }

  .bt-fotogalerie {
    width: auto;
  }

  .tym p {
    margin: 10px 25px;
  }

  .footer-content {
    justify-content: space-around;
  }

  .footer-content span {
    margin-bottom: 0;
    height: 90px;
    align-content: center;
    min-width: auto;
  }

  .underlined-footer-content {
    border-bottom: none;
  }

  .modal-content {
    width: auto;
    max-width: 90vw;
    max-height: 90vh;
    align-self: center;
  }
  
  
#close-modal {
  font-size: 50px;
  padding: 0 10px;
  background-color: #2A2B2D;
  top: 0px;
  right: 10px;
  z-index: 1000;
}


#close-modal:hover {
  background-color: #0099ff;
}
}












